<!DOCTYPE html>
<ion-view view-title="Dashboard" class="dash" cache-view="false" >
  <ion-content class="padding">

    <div class="list card">
      <div class="item item-divider">{{project.name}}</div>
      <div class="item item-body">
        <div>
          {{project.desc}}
        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div ng-repeat="a in  project.agen">
          {{a}}
        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">Progress</div>
      <div class="item item-body">
        <div ng-repeat="p in  project.prog">
          - {{p}}
        </div>
      </div>
    </div>


  </ion-content>
</ion-view>
