.main {
  text-align: center;

  .title {
    height: 81vh;
    color: #dcdcdc;
    vertical-align: middle;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: -webkit-box;
  }

  .button-round {
    font-size: 1.8em;
    border-radius: 45px;
    width: 90px;
    height: 90px;
    color: white;
  }
}
